*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bodyEntrada{
    background: url(imagenes/fondoEntrada.jpg) no-repeat center;
    background-size: cover;
}

/* HEADER */

.headerInicio{
    margin: 0;
    background-image: url(imagenes/fondoHeader.jpg);
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    height: 680px;
    width: auto;
}

.contenedorMenu{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.logo{
    color: #eeeeee;
    font-size: 25px;
    text-decoration-line: none;
    position: sticky;
}

.logo:hover{
    color: #ffffff;
}

.divMenu{
    display: flex;
    align-items: center;
}

.botonMenu{
    color: #eeeeee;
    font-size: 16px;
    margin-left: 20px;
    padding: 5px 5px;
    text-decoration-line: none;
    border: 1px solid transparent;
}

.botonMenu:hover{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.numerito{
    background-color: #6d6d6d;
    color: #eeeeee;
    padding: 2px 5px;
    border-radius: 50%;
}

/* MAIN */

main{
    padding: 20px 0px;
    width: 90%;
    margin: 0 auto;
}

.contenedorCategoria{
    display: flex;
    align-items: center;
}

.titulos{
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0px 10px 0px;
}

.categoria{
    margin-left: 10px;
}

.botonCategoria{
    color: #373338;
    font-size: 16px;
    font-weight: 800;
    text-decoration-line: none;
    margin-left: 20px;
}

.botonCategoria:hover{
    border-bottom: 1px solid #373338;
    color: #373338;
}

.contenedorEntradas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contenedorEntrada{
    color: #eeeeee;
}

.contenedorEntradaInfo, .contenedorCarrito{
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
}

.imgEscenario{
    width: 400px;
}

.imgEntrada{
    width: auto;
    height: 250px;
    background-color: #eeeeee;
}

.card-body{
    color: #373338;
}

.card:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.tituloEntrada{
    font-size: 16px;
    font-weight: bolder;
    padding-top: 10px;
}

.entrada{
    text-decoration-line: none;
}

.btn{
    margin: 5px;
}

.btnAgregar, .btnVaciar, .btnComprar{
    padding: 10px;
    background-color: #74318a;
    color: #eeeeee;
    font-size: 15px;
    font-weight: lighter;
    border: none;
}

.btnAgregar:hover, .btnVaciar:hover, .btnComprar:hover{
    background-color: #71198f;
}

/* CARRITO */

.contenedorCarrito{
    display: block;
    flex-direction: column;
}

.entradaEnCarrito{
    background-color: #eeeeee;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
}

.btnEliminarEntrada{
    border: none;
}

.totalAPagar{
    display: flex;
    justify-content: right;
    color: #ffffff;
    font-weight: 600;
    font-size: large;
}

.contenedorBotonesCarrito{
    display: flex;
    justify-content: right;
}

/* FOOTER */

footer{
    background-color: #494949;
    color: #eeeeee;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

